USE [Hospital]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/06/2026 4:31:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26/06/2026 4:31:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [nvarchar](50) NOT NULL,
	[PatientName] [nvarchar](200) NOT NULL,
	[ServiceCode] [nvarchar](50) NOT NULL,
	[ServiceDescription] [nvarchar](200) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/06/2026 4:31:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260625234617_Initial', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260626054442_User', N'8.0.28')
GO
INSERT [dbo].[Orders] ([Id], [PatientId], [PatientName], [ServiceCode], [ServiceDescription], [Priority], [Status], [CreatedAt], [ProcessedAt]) VALUES (N'0f058f4a-a06c-4796-a174-77a3b5980099', N'1072527948', N'Jan Michael', N'500M30', N'Urologo', N'Normal', N'Processed', CAST(N'2026-06-26T01:17:20.5181469' AS DateTime2), CAST(N'2026-06-26T01:23:14.6833294' AS DateTime2))
INSERT [dbo].[Orders] ([Id], [PatientId], [PatientName], [ServiceCode], [ServiceDescription], [Priority], [Status], [CreatedAt], [ProcessedAt]) VALUES (N'48698f0b-38d0-4003-878a-f73260bb680d', N'1072527948', N'Jan Michael', N'500O45', N'Urologo', N'Normal', N'Processed', CAST(N'2026-06-26T01:24:31.4448444' AS DateTime2), CAST(N'2026-06-26T01:24:37.5163038' AS DateTime2))
GO
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (N'93d3c1b4-bdd6-48ee-acc0-f914044e62f9', N'QVision', N'123456', N'User')
GO
